* {
    background-color: black;
    

}
body{
    width:900px;
    height:600px;
    /* background-color: blue; */
    border: 3px red;
    transform: perspective(200px) rotateX(-6deg);
}
header {
    background-color: gray;
    height: 10%;
    
}
main {
    height: 80%;
    background-color: burlywood;
}
footer{
    height: 10%;
    background-color: crimson;
}