body {
    width: 900px;
    height: 100%;
    margin: auto;
    background-color: black;
  }
  
header {
    display: grid;
    border: 5px solid red;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    background-color: black;
    margin-top: 40px;
  }
  
main {
    border: 5px solid red;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    padding-top: 15px;
    background-color: black;
  }
  
form {
    display: grid;
    color: white;
  }
  
p:first-child {
    padding-bottom: 20px;
  }
  
  
input {
    padding: 10px;
    display: none;
  }
  
button {
    margin: 20px 60px 40px;
    background: white;
    color: black;
    border-radius: 17px;
    padding: 10px;
    
  }

footer {
    bottom: 0;
    left: 0; right: 0;
    height: 65px;
    color: white;
    text-align: center;
    padding-top: 25px;
}